<%- include('./partials/header') %>
<link rel="stylesheet" href="css/style.css">
    <div class="indiTask">
        <h2> <%= data[0].title %>  </h2>
        <p> <%= data[0].desc %> </p>
    </div>

<%- include('./partials/footer') %>